/* ---HEADER--- */

/* --- Seccion Navbar --- */
.header {
    background-image: url(../img/concert-banner.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    color: white;
}

.navbar-container {
    position: sticky;
    top: 0;
    z-index: 10;
    transition: .5s;
    background-color: black;
    color: white;
    box-shadow: #000 0rem .1rem 1rem;
}

.nav-light-theme {
    background-color: white;
    color: black;
    transition: .5s;
}

#nav__options__web li a {
    color: white;
    transition: .5s;
}

#nav__options__web li .options-light-theme {
    color: black;
    transition: .5s;
}

ul .opcion {
    list-style: none;
    text-decoration: none;
}

ul .opcion a {
    text-decoration: none;
    color: #000;
}

.section-search .inputBuscar input {
    width: 85vw;
    height: 50px;
}