/* ---HEADER--- */

/* --- Seccion Navbar --- */
.header {
    background-image: url(../img/banner-01.png);
    background-color: rgba(255, 255, 255, 0.6) !important;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}

.navbar-container {
    position: sticky;
    top: 0;
    z-index: 10;
}

ul .opcion {
    list-style: none;
    text-decoration: none;
}

ul .opcion a {
    text-decoration: none;
    color: #000;
}

.section-search .inputBuscar input {
    width: 85vw;
    height: 50px;
}